/* GENERALES */

$color-primario: rgb(13, 109, 109);
$color-carta: rgb(44, 117, 92);
$color-letras: beige;


@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
* {margin: 0px;
    padding: 0;
    font-family: 'Macondo', cursive;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
scroll-behavior: smooth;}

/* MAPA */

@each $color in green, red {
    .#{$color}{
        background-color: #{$color};
        color: antiquewhite;
    }
}

@mixin size ($anchura, $altura) {
    width: $anchura;
    height: $altura;
}

body {
    @include size (100%, 100vh);
    background-image: url(./pexels-fwstudio-131683.jpg);
    background-repeat: repeat;
}

.pieDePagina {
    img {
        @include size (30px, 3vh);
        margin-left: 3px;
    }
}

header {
    background-image: linear-gradient(to bottom right, $color-primario 40%, rgb(45, 213, 182));
    border-radius: 20px;
}
header {
    div {
    display: flex;
    justify-content: center;
    align-content: center;
    }
}

.pieDePagina {
    div {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    }
}

.mainIndex {
    margin: 20px 10px 20px 10px;
}



.divImagen {
    padding-bottom: 25px;
}

.parrafoIndex {
    background-color: $color-primario;
    border-radius: 10px;
            }


// GALERIA.html

#galeria {
    .row {
        div {
            padding: 15px;
            margin: 0 !important;
            img {
                @include size (100%, 350px);
                border-radius: 20px;
                &:hover {
                        border: 5px solid $color-letras;
                        }
                }
            }
        }
}

// MENU.html

.menuPizza {
    border-radius: 20px;
    padding: 30px;
    background-color: $color-carta;
        h2 {
        font-size: 22px;
        }
        ul {
        list-style-type: circle;
        font-size: 20px;
        color: $color-letras;
        }
}

.menuEmpanadas {
        @extend .menuPizza;
        h3 {font-size: 22px;}
}

.menuBurga {
        @extend .menuPizza;
        h4 {font-size: 22px;}
}

.menuPasteleria {
    @extend .menuPizza;
    h5 {font-size: 22px;}
}

#sub {
    font-size: 22px;
    color: black;
    font-weight: 400;
}

// NOSOTROS.html

.mainNosotros {
    div {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            @include size (300px, 300px);
            border-radius: 20px;
        }
    }
    h1 {
        background-color: rgb(28, 58, 58);
        width: 100%;
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: $color-letras;
    }
    p {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4em;
        padding: 3% 8%;
        color: $color-letras;
    }
}

// CONTACTO.html

.formulario {
    h4 {
        background-color: $color-primario;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: $color-letras;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mainContacto {
    h2 {
        background-color: $color-primario;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: $color-letras;
    }
    h3 {
        background-color: $color-primario;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        color: $color-letras;
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            @include size (150px, 150px);
            max-width: 200px;
            max-height: 200px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: width 2s;
            &:hover {
                width: 180px;
            }
        }
    }
    p {
        text-align: center;
        font-size: 20px;
        line-height: 1.5em;
        padding: 20px;
        color: $color-letras;
    }
}

// MEDIA QUERIES

// INDEX.html

@media (min-width:1024px) {
    .parrafoIndex {
                p {font-size: 25px;
        font-weight: 400;
        line-height: 1.7em;
        margin: 0 5px 0 5px;
        color: $color-letras;
        }
                }
    header {
        div {
            img {
                @include size (180px, 180px);
                margin-top: 2.5vh;
                margin-bottom: 2.5vh;
                margin-left: 5%;
                }
            }
            }
    .imagen {
                @include size (400px, 400px);
                border-radius: 20px;
                }
}

@media (min-width:521px) and (max-width:1023px)  {
    .parrafoIndex {
        p {
            font-size: 22px;
            font-weight: 400;
            line-height: 1.1em;
            color: $color-letras;
            margin: 10px;}
                }
    header {
        div {
            img {
                @include size (180px, 180px);
                            margin-top: 2.5vh;
                            margin-bottom: 2.5vh;
                            margin-left: 5%;
                }
            }
            }
    .imagen {
                @include size (350px, 350px);
                border-radius: 20px;
                }
    }

@media (max-width:520px) {
    .tituloIndex {
        h1 {
        display: flex;
        align-content: center;
            }
                }
    .parrafoIndex  {
                p{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1em;
                    margin-top: 5px;
                    padding-top: 5px;
                    color: $color-letras;
                    }
                }
    .pieDePagina {
                    margin: 0;
                    padding-top: 10px;
                    margin-top: 10px;
                    }
    header {
        div {
            img {
                @include size (150px, 150px);
                }
            }
            }
    .imagen {
        @include size (100%, 350px);
        border-radius: 20px;
                }
}
